.Rproj.user
.Rhistory
.RData
.Ruserdata
/doc/
/Meta/
papers_external/
vignettes/drafts/
.DS_Store
jags_func_test.bug
*.Rcheck/
playground/
docs
file_storade_wd
demo_stuff/
*.log
*.csv
out.txt
test_out.txt
benchmark_*.txt
*.rds
tests/reproductions/
